*{
    box-sizing:border-box;
}
body{
    background:linear-gradient(1500deg,rgb(111, 165, 252),rgb(215, 103, 103));
    background-attachment: fixed;
}
.navbar{
    display:flex;
    height:50px;
    margin:0;
    backdrop-filter: blur(18px);
    background: linear-gradient(135deg,rgb(215, 153, 153),rgb(105, 145, 231));
    transition:transform 0.3s ease;
}
a.logout{
    width:auto;
    height:40px;
    margin:8px;
}
.logo{
    margin:6px;
    font-family: "Poppins",sans-serif;
    font-size:2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercasse;
    text-shadow: 0 3px 10px rgba(0,0,0,0.2);
    transition:transform 0.3s ease;
}
.logo:hover{
    transform:scale(1.03);
    cursor:pointer;
    text-shadow: 0 3px 10px rgba(0,0,0,0.4);
}
a.profile{
    height:40px;
    width:50px;
    justify-self: center;
    align-self: center;
    justify-content: end;
}
.system{
    display:grid;
    margin-left: auto;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2px;
    justify-content: end;
       
}
a{
    border:1px solid black;
    min-width:90px;
    border-radius: 12px;
    background:rgba(255, 255, 255, 0.336);
    text-decoration: none;
    color:black;
    text-align: center;
    padding:6px;
    justify-self: center;
    transition:transform 0.5s ease;
    font-size:1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    transform:scale(1.08);
    cursor:pointer;
}
.system button{
    width:80px;
}

table{
    border:1px solid white;
    height:fit-content;
    padding:6px;
    /* background:radial-gradient(circle,rgb(221, 118, 118),rgba(222, 36, 185, 0.697)); */
}
.hr{
    background:rgba(25, 168, 245, 0.533);
}
.br{
    background: radial-gradient(circle,rgb(221, 118, 118),rgba(222, 36, 185, 0.697));

}

