<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scsle=1.0">
        <title>
            SEARCH
        </title>
        <link rel="stylesheet" href="/search.css">
    </head>
    <body>
        <div class="hero"> 
            <form method="POST" action="/delete/data/request">
                <div class="form-card">
                    <section class="name">
                        <label for="name">
                            Name:
                        </label>
                        <input type="text" placeholder="Name" id="name" name="name" >
                    </section>
                    <section class="enrol">
                        <label for="enrol">
                            Enrollment Number:
                        </label>
                        <input type="text" id="enrol" placeholder="Enrollment Number" name="enrol">
                    </section>
                    <section class="reg">
                        <label for="reg">
                            Registration Number:
                        </label>
                        <input type="number" id="reg" placeholder="Registration Number" name="reg">
                </section>
                <section class="branch">
                    <label for="branch">
                        Branch:
                    </label>
                    <input type="text" id="branch" placeholder="Branch" name="branch">
                </section>
                <section class="section">
                    <label for="section">
                        Section:
                    </label>
                    <input type="text" id="section" placeholder="Section" name="section">
                </section>
                <section class="phone">
                    <label for="phone">
                        Phone Number:
                    </label>
                    <input type="number" id="phone" placeholder="Phone Number" name="phone">
                </section>
                <section class="email">
                    <label for="email">
                        Email:
                    </label>
                    <input type="email" id="email" placeholder="Email" name="email">
                </section>
                <section class="insta">
                    <label for="insta">
                        Instagram:
                    </label>
                    <input type="text" id="insta" placeholder="Instagram" name="insta">
                </section>
            </div>
        </div>
            <div class="button">
                <button type="submit" id="button">REQUESTED</button>
            </div>
            
        </form>
    </body>
</html>