<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>
            SEARCH
        </title>
        <link rel="stylesheet" href="/search.css">
    </head>
    <body>
        <div class="hero"> 
            <form method="POST" action="/search">
                <div class="form-card">
                    <section class="name">
                        <label for="name">
                            Name:
                        </label>
                        <input type="text" placeholder="Name" id="name" name="name" >
                    </section>
                    <section class="enrol">
                        <label for="enrol">
                            Enrollment Number:
                        </label>
                        <input type="text" id="enrol" placeholder="Enrollment Number" name="enrol">
                    </section>
                    <section class="reg">
                        <label for="reg">
                            Registration Number:
                        </label>
                        <input type="number" id="reg" placeholder="Registration Number" name="reg">
                </section>
                <section class="branch">
                    <label for="branch">
                        Branch:
                    </label>
                    <input type="text" id="branch" placeholder="Branch" name="branch">
                </section>
                <section class="section">
                    <label for="section">
                        Section:
                    </label>
                    <input type="text" id="section" placeholder="Section" name="section">
                </section>
                <section class="phone">
                    <label for="phone">
                        Phone Number:
                    </label>
                    <input type="number" id="phone" placeholder="Phone Number" name="phone">
                </section>
                <section class="email">
                    <label for="email">
                        Email:
                    </label>
                    <input type="email" id="email" placeholder="Email" name="email">
                </section>
                <section class="insta">
                    <label for="insta">
                        Instagram:
                    </label>
                    <input type="text" id="insta" placeholder="Instagram" name="insta">
                </section>
            </div>
        </div>
            <div class="button">
                <button type="submit" id="button">SEARCH</button>
            </div>
            
        </form>
         <div>

            <table>
                <thead>
                    <tr class="hr">
                        <th>Name</th>
                        <th>Enrollment Number</th>                        
                        <th>Registration Number</th>
                        <th>Branch</th>                        
                        <th>Section</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Instagram</th>
                    </tr>
                </thead>
                <tbody class="br">
                </tbody>
            </table>
            <script>
                function rendertable(users){
                    const tbody = document.querySelector("tbody");
                    tbody.innerHTML = ""
                    users.forEach(user=>{
                        const row = document.createElement("tr");
                        const name = document.createElement("td");
                        const enrol = document.createElement("td");
                        const reg = document.createElement("td");
                        const branch = document.createElement("td");
                        const section = document.createElement("td");
                        const phone = document.createElement("td");
                        const email = document.createElement("td");
                        const insta = document.createElement("td");
                        name.textContent = user.name;
                        // enrol.textContent = user.enrollment_number;
                        // reg.textContent = user.registration_number;
                        branch.textContent = user.branch;
                        section.textContent = user.section;
                        // phone.textContent = user.phone_number;
                        // email.textContent = user.email;
                        // insta.textContent = user.instagram;
                        row.append(name);
                        row.append(enrol);
                        row.append(reg);
                        row.append(branch);
                        row.append(section);
                        row.append(phone);
                        row.append(email);
                        row.append(insta);
                        tbody.append(row);
                });
                
            }
                let data =[];
                let users =[];
                document.addEventListener("DOMContentLoaded",async () =>{
                    const response = await fetch("/api/students");
                    data = await response.json();
                });
                 const name = document.getElementById("name");
                 const enrol = document.getElementById("enrol");
                 const reg = document.getElementById("reg");
                 const branch = document.getElementById("branch");
                 const section = document.getElementById("section");
                 const phone = document.getElementById("phone");
                 const email = document.getElementById("email");
                 const insta = document.getElementById("insta");
                
                 function search(){
                     users = data.filter(user=>{
                         return (user.name.toLowerCase().includes(name.value.toLowerCase()) &&
                          user.enrollment_number.toLowerCase().includes(enrol.value.toLowerCase()) &&
                           user.registration_number.toLowerCase().includes(reg.value.toLowerCase()) &&
                            user.branch.toLowerCase().includes(branch.value.toLowerCase()) &&
                             user.section.toLowerCase().includes(section.value.toLowerCase()) &&
                              user.phone_number.toLowerCase().includes(phone.value.toLowerCase()) &&
                               user.email.toLowerCase().includes(email.value.toLowerCase()) &&
                                user.instagram.toLowerCase().includes(insta.value.toLowerCase()));
                        });
                        rendertable(users);
                    };
                    name.addEventListener("input",search);
                    enrol.addEventListener("input",search);
                    reg.addEventListener("input",search);
                    branch.addEventListener("input",search);
                    section.addEventListener("input",search);
                    phone.addEventListener("input",search);
                    email.addEventListener("input",search);
                    insta.addEventListener("input",search);

            </script>
        
    </body>
</html>